.main {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}
.profile {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    // padding-top: 15% !important;
    
    padding-left: 4%;
    padding-right: 4%;
    // top: 10%;


    @media screen and (max-width: 330px) {
        padding-top: 25%;
        padding-bottom: 2%;
        padding-right: 4%;
        display: grid;
        grid-template-rows: 34% 3% 30% 3% 30%;
        grid-template-columns: 100%;
    }

    @media screen and (max-width: 450px) {
        padding-top: 18%;
        padding-bottom: 3%;
        padding-right: 4%;
        display: grid;
        grid-template-rows: 34% 3% 30% 3% 30%;
        grid-template-columns: 100%;
    }

    @media screen and (max-width: 800px) {
        padding-top: 10%;
        padding-bottom: 3%;
        padding-right: 4%;
        display: grid;
        grid-template-rows: 34% 3% 30% 3% 30%;
        grid-template-columns: 100%;
    }
    @media screen and (max-width: 1000px) {
        padding-right: 4%;
        display: grid;
        grid-template-rows: 34% 3% 30% 3% 30%;
        grid-template-columns: 100%;
    }

    @media screen and (min-width: 1000px) {
        padding-top: 8%;
        padding-bottom: 2%;
        display: grid;
        grid-template-columns: 40% 3% 57%;
        grid-template-rows: 20% 3% 20%;
    }
   @media screen and (min-width: 1200px) {
       padding-top: 5%;
       padding-bottom: 2%;
       grid-template-columns: 40% 3% 57%;
       grid-template-rows: 20% 3% 20% 3% 54%;
   }
   @media screen and (min-width: 2000px) {
       padding-top: 4%;
       padding-bottom: 1%;
       grid-template-columns: 40% 3% 57%;
       grid-template-rows: 20% 3% 20% 3% 54%;
   }
    // padding: 10px;
}
#user-avatar {
    cursor: pointer;
    @media screen and (max-height: 1000px) {
        height: 35%;
        width: 28%;
    }
}

.user {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: 100%;
    background: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 15px;
    @media screen and (max-width: 800px) {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.profile-news {
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 15px;
    overflow-y: auto;
     @media screen and (max-width: 800px) {
        grid-row-start: 5;
        grid-row-end: 6;
    }
}
.fav {
    @media screen and (max-width: 800px) {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    padding: 15px;
    border-radius: 10px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    @media screen and (min-width: 800px) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
    }
   
    overflow-y: auto;
}
